body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    background: var(--main-navy-blue-110-a-1-d, #110A1D);
    max-height: 1265px;
}

.chips__background {
    display: flex;
    justify-content: center;
}

.banner {
    height: 100%;
    background-color: #333;
    position: relative;
    margin-right: 110px;

}

.chip {
    width: 99px;
    height: 99px;
    position: absolute;
    animation: moveChips 8s linear infinite;

}

.chip2 {
    width: 99px;
    height: 99px;
    position: absolute;
    animation: moveChips2 8s linear infinite;
}

.chipBottom {
    width: 99px;
    height: 99px;
    position: absolute;
    animation: moveChipsBottom 8s linear infinite;
}

.chips__wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chip__image {
    width: 100%;
}

.chips__wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#chip1 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 0s;
    /* Начнем первую фишку сразу */
}

#chip2 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 1.65s;
    /* Задержка для второй фишки */
}

#chip3 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 2.45s;
    /* Задержка для третьей фишки */
}

#chip4 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 3.25s;
    /* Задержка для третьей фишки */
}

#chip5 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 4.05s;
    /* Начнем первую фишку сразу */
}

#chip6 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 5.70s;
    /* Задержка для второй фишки */
}

#chip7 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 6.45s;
    /* Задержка для третьей фишки */
}

#chip8 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 7.25s;
    /* Задержка для третьей фишки */
}

#chip16 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 0s;
    /* Начнем первую фишку сразу */
}

#chip15 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: .8s;
    /* Задержка для второй фишки */
}

#chip14 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 1.6s;
    /* Задержка для третьей фишки */
}

#chip13 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 2.4s;
    /* Задержка для третьей фишки */
}

#chip12 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 4s;
    /* Начнем первую фишку сразу */
}

#chip11 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 4.8s;
    /* Задержка для второй фишки */
}

#chip10 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 5.6s;
    /* Задержка для третьей фишки */
}

#chip9 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 6.4s;
    /* Задержка для третьей фишки */
}


#c1 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 0s;
    /* Начнем первую фишку сразу */
}

#c2 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 1.65s;
    /* Задержка для второй фишки */
}

#c3 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 2.45s;
    /* Задержка для третьей фишки */
}

#c4 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 3.25s;
    /* Задержка для третьей фишки */
}

#c5 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 4.05s;
    /* Начнем первую фишку сразу */
}

#c6 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 5.70s;
    /* Задержка для второй фишки */
}

#c7 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 6.45s;
    /* Задержка для третьей фишки */
}

#c8 {
    top: 100%;
    /* Начинаем снизу */
    left: 0;
    animation-delay: 7.25s;
    /* Задержка для третьей фишки */
}

@keyframes moveChips {
    0% {
        top: 100%;
        /* Начинаем снизу */
        opacity: 0.1;
    }

    20% {
        opacity: .1;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: .1;
    }

    100% {
        top: -40%;
        /* Заканчиваем вверху */
        opacity: 0.1;
    }
}


@keyframes moveChipsBottom {
    0% {
        top: -40%;
        /* Начинаем снизу */
        opacity: 0.1;
    }

    20% {
        opacity: .1;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: .1;
    }

    100% {
        top: 100%;
        /* Заканчиваем вверху */
        opacity: 0.1;
    }
}

@keyframes moveChips2 {
    0% {
        top: 100%;
        /* Начинаем снизу */
        opacity: 0.1;
    }

    20% {
        opacity: .1;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: .1;
    }

    100% {
        top: -40%;
        /* Заканчиваем вверху */
        opacity: 0.1;
    }
}
.chip__longN{
    display: none;
}

@media  (max-width:460px) {
.chips__wrapp{
    transform: rotate(90deg);
    height: 280px;
    
}
.chip__image{
    transform: rotate(-90deg);
}
.chip__long{
    transform: rotate(180deg);
    display: none;
}
.chip__image{
    width: 49px;
    height: 49px;
}
.banner{
    margin-right: 60px;
    height: 450px;
}
.chip__longN{
    display: block;
  width: 108px;
  height: 49px;
  transform: rotate(90deg) translateY(30px) translateX(35px);
}



}